.unordered { list-style-type: square;
    line-height: 170%; 
    background: #FDEBD0;
    padding: 20px;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif
}
.unordererd li {
    background: #DAF7A6;
    margin: 5px 
}
.nested-ul li{ background: #F9E79F;
    margin: 5px
}
.ordered {

    background: #FD8A00;
    
    padding: 20px;
    
    width: 20%;
    
    font-family: 'Brush Script MT', cursive;
    
    font-size: 1.3em;
    
}
    
.ordered li {
    
    background: #FFCF95;
    
    padding: 5px;
    
    margin-left: 20px;
}

.custom-box-list {

    margin: 0;
    
    padding: 0;
    
    list-style-type: none;
    
    }
    
    .custom-box-list li {
    
    counter-increment: step-counter;
    
    margin-bottom: 10px;
    
    }
    
.custom-box-list li::before {
    
    content: counter(step-counter);
    
    margin-right: 5px;
    
    font-size: 80%;
    
    background-color: rgb(162, 0, 255);
    
    color: white;
    
    font-weight: bold;
    
    padding: 3px 8px;
    
    border-radius: 3px;
    
    }

.list-image {

    list-style: none;
        
    padding-left: 0;
        
}
        
.list-image li {
        
    position: relative;
        
    padding-left: 30px;
        
    line-height: 170%;
        
}
        
.list-image li:before {
        
    content: '';
        
    width: 20px;
        
    height: 20px;
        
    position: absolute;
        
    background-image: url('car.png');
        
    background-size: cover;
        
    background-position: center;
        
    left: 0;
    top: 50%;   
    transform: translateY(-50%);
        
}

.popular-sites {
    list-style: none;
    padding-left: 0;
}
.popular-sites li {
    position: relative;
    padding-left: 30px;
    line-height: 170%;
}

.popular-sites li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('globe.png');
    background-size: cover;
    background-position: center;  
    left: 0;
    top: 50%;   
    transform: translateY(-50%);
}

table, th,td { 

    border: 1px solid black; 
  
    border-collapse: collapse; 
  
  } 
  
   
  
  th,td { 
  
    padding: 15px; 
  
    text-align: center; 
  
  } 

caption { 
    caption-side: bottom; 
    text-align: center; 
    font-style: italic; 
    font-weight: bold; 
    color: black; 
}

.table-simple th { 

    background-color: black; 
  
    color: white; 
  
  } 
  
   
  
  .table-simple tr:nth-child(even) { 
  
    background-color: #efc7ff; 
} 
  
  .table-simple tr:nth-child(odd) { 
  
    background-color: rgb(202, 251, 255); 
} 
  
  .table-simple tr:hover { 
    background-color: #000000; 
    color: white;
} 

.head-body-foot thead {

    color: purple;
    
    background-color: rgb(243, 136, 13);
    
    }
    
    .head-body-foot tbody {
    
    color: rgb(182, 212, 182);
    
    font-weight: bold;
    
    background-color: rgb(68, 39, 177);
    
    }
    
    .head-body-foot tfoot {
    
    color: rgb(5, 4, 0);
    
    background-color: rgb(190, 255, 252);
    
    font-weight:bold ;
    
    }
    .head-body-foot thead:hover {

        background-color: #acffe3;
        
        }
    .head-body-foot tbody:hover {
        background-color: #000000;
        color: white;
            
            }
    .head-body-foot tfoot:hover {

        background-color: #fdcdb1;
                
}
.scroll-bar {
    overflow-x: auto;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.15)
}
.table-image {
    margin: 0 auto;
}

table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #c9c9c9;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #c9c9c9;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ffeacc;
}